{% extends "layout/default.html.twig" %}

{% block title %}A synchronization system{% endblock %}

{% block meta %}
	<meta name="description" content="A synchronization system between two heterogeneous databases">
	<meta name="author" content="spiritabsolute">
{% endblock %}

{% block navbar %}
	<a class="active" href="{{ generatePath("home") }}">Home</a>
{% endblock %}

{% block content %}
	<div class="content">
		<h3>What is a synchronization system?</h3>
		<p>
			The application has the following parameters:
		</p>
		<p>
			1. The one have able to update database1 on request according to data from database2 (and in the opposite direction);
		</p>
		<p>
			2. If necessary, creates new objects, updates existing ones, deletes existing objects;
		</p>
	</div>
{% endblock %}