<?php

return [
	"debug" => true,
	"auth" => [
		"users" => [
			"admin" => "password"
		]
	]
	'db1_config' => [
		'dsn' => 'sqlite:db/db1.sqlite3',
		'username' => '',
		'password' => '',
	],
	'db2_config' => [
		'dsn' => 'sqlite:db/db2.sqlite3',
		'username' => '',
		'password' => '',
	],
	'rabbit' => [
		'host' => 'localhost',
		'port' => 5672,
		'user' => 'guest',
		'password' => 'guest',
	],
	'phinx' => [
		'db1' => 'db/db1',
		'db2' => 'db/db2',
	]
];